<div class="flex m-4">
    <img src="assets/images/logo.png" alt="logo" class="w-12 h-12 m-4 mr-1">
    <h3 class="m-5 font-black text-4xl">Hermes</h3>
    <!-- Spacer -->
    <div class="flex-1"></div>

    <!-- Buttons -->
    <div class="xs:mr-4 mt-20 mb-10 invisible absolute md:relative md:mb-0 md:mt-[2.10rem] xs:visible">
        <app-navbar-button text="Documentation" href="#docs"></app-navbar-button>
        <app-navbar-button text="Install" href="#install"></app-navbar-button>
        <app-navbar-button text="Github" href="#github"></app-navbar-button>
        <app-navbar-button text="Cloud" href="#cloud"></app-navbar-button>
    </div>
</div>