<div class="flex m-4">
    <img src="assets/images/logo.png" alt="logo" class="w-12 h-12 m-4 mr-1">
    <h3 class="m-5 font-black text-4xl">Hermes</h3>
    <!-- Spacer -->
    <div class="flex-1"></div>

    <!-- Buttons -->
    <div class="xs:mr-4 mt-20 mb-10 invisible absolute md:relative md:mb-0 md:mt-0 xs:visible">
        <app-navbar-button text="Documentation"></app-navbar-button>
        <app-navbar-button text="Install"></app-navbar-button>
        <app-navbar-button text="Github"></app-navbar-button>
        <app-navbar-button text="Cloud"></app-navbar-button>
    </div>
</div>