<!-- Navbar -->
<app-navbar></app-navbar>

<!-- Hero -->
<div class="flex justify-center items-center mt-16">
  <h2 class="text-5xl font-black text-slate-800 px-24 md:px-40 tracking-wide leading-normal text-center">
    Full-text cache framework written in Go.
  </h2>
</div>
<div class="flex justify-center items-center">
  <p class="font-normal text-xl px-24 md:px-56 text-center"><strong>The speed you need.</strong> Execute
    <strong>lightning fast</strong> full-text searches with just a few lines of code. <strong>Easily access</strong>
    your data with caching. Both an <strong>API</strong> and <strong>Socket</strong> implementation is already
    provided. Start now with <strong>Python, Go, Typescript, or Rust.</strong>
  </p>
</div>

<div class="flex justify-center items-center m-10">
  <app-code-example></app-code-example>
</div>

<!-- Hermes Go Install -->
<div class="flex justify-center items-center mt-16" id="install">
  <h2 class="text-5xl font-black text-slate-800 px-24 md:px-40 tracking-wide leading-normal text-center">
    Hermes Go
  </h2>
</div>
<div class="flex justify-center items-center">
  <p class="font-normal text-xl px-24 md:px-56 text-center"><strong>Fast made easy.</strong> Import Hermes
    <strong>directly</strong> into your Go project without the worry of a network connection.
  </p>
</div>
<div class="flex justify-center items-center m-10">
  <app-terminal text="go get -u github.com/realTristan/Hermes"></app-terminal>
</div>

<!-- Hermes Cloud Install -->
<div class="flex justify-center items-center mt-16" id="cloud">
  <h2 class="text-5xl font-black text-slate-800 px-24 md:px-40 tracking-wide leading-normal text-center">
    Hermes Cloud
  </h2>
</div>
<div class="flex justify-center items-center">
  <p class="font-normal text-xl px-24 md:px-56 text-center"><strong>Connections made strong.</strong> Install the Hermes
    Cloud CLI and <strong>immediately</strong> begin developing in other languages. Hermes Cloud takes advantage of
    sockets to deliver <strong>powerful performance</strong>. Start now with <strong>Python, Go, Typescript, or
      Rust.</strong></p>
</div>
<div class="flex justify-center items-center m-10">
  <app-terminal text="hermes serve -port 3000"></app-terminal>
</div>
<div class="flex justify-center items-center">
  <button
    class="bg-slate-900 text-white px-7 py-4 rounded-lg text-center text-extrabold hover:bg-slate-200 hover:shadow-sm hover:text-slate-900">
    Download
  </button>
</div>

<!-- Github -->
<div class="flex justify-center items-center mt-16" id="github">
  <h2 class="text-5xl font-black text-slate-800 px-24 md:px-40 tracking-wide leading-normal text-center">
    Find us on Github!
  </h2>
</div>
<div class="flex justify-center items-center mb-10">
  <p class="font-normal text-xl px-24 md:px-56 text-center"><strong>Transparency for success.</strong> Worried about
    bugs or malicious intentions? Then check out the github for Hermes, it's <strong>all open-sourced!</strong> Leave a
    star to support the project and share it with your buddies! Click the laptop or <a
      href="https://github.com/realTristan/Hermes" class="text-blue-500 hover:underline">here</a> to visit.</p>
</div>
<app-laptop></app-laptop>

<!-- Spacer -->
<div class="my-20"></div>


<!-- 
  ng build --base-href "https://realTristan.github.io/Hermes/" 
  npx angular-cli-ghpages --dir=dist/hermescloud
-->