<!-- Navbar -->
<app-navbar></app-navbar>

<!-- Hero -->
<div class="flex justify-center items-center mt-16">
  <h2 class="text-5xl font-black text-slate-800 px-24 md:px-40 tracking-wide leading-normal text-center">
    Full-text cache framework written in Go.
  </h2>
</div>
<div class="flex justify-center items-center">
  <p class="font-normal text-xl px-24 md:px-56 text-center"><strong>The speed you need.</strong> Perform <strong>lightning fast</strong> full-text searches with ease. <strong>Easily accessible</strong> data with caching. <strong>API</strong> and <strong>Socket</strong> implementation already provided. Develop with <strong>Python, Go, Typescript, or Rust.</strong></p>
</div>

<!-- Hermes Go Install -->
<div class="flex justify-center items-center m-10">
  <app-terminal text="go get -u github.com/realTristan/Hermes"></app-terminal>
</div>

<!-- Hermes CLI 
<div class="flex justify-center items-center">
  <app-terminal text="hermes serve -port 3000"></app-terminal>
</div>
-->

<!-- Spacer -->
<div class="mt-16"></div>

<!-- 
  ng build --base-href "https://realTristan.github.io/Hermes/" 
  npx angular-cli-ghpages --dir=dist/hermescloud
-->